
<div class="characters_wrapper">
<% @characters.each do |character| %>
  <div class="characters">
  <p><%= character.name %></p>
  <p><%= link_to character.house.name, house_path(character.house_id) %></p>
  <p>Age: <%= character.age %></p>
  <img class="char_img" src="<%= character.image_url %>">
</div>
<%end%>
</div>
